body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: 3rem auto 0 auto;
}

.btn {
  user-select: none;
  margin: 0;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  cursor: pointer;
  transition: all 0.2s;
}

.top-left {
  border-top-left-radius: 250px;
  border-bottom-right-radius: 20px;
}

.top-right {
  border-top-right-radius: 250px;
  border-bottom-left-radius: 20px;
}

.bottom-left {
  border-bottom-left-radius: 250px;
  border-top-right-radius: 20px;
}

.bottom-right {
  border-bottom-right-radius: 250px;
  border-top-left-radius: 20px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media screen and (max-width: 991px) {
  .container {
    width: 100%;
  }

  #level-title {
    font-size: 2rem;
    margin: 3%;
  }

  .btn {
    height: 150px;
    width: 150px;
  }  
}